:root{
  color: white !important;
}

*{
  color: white !important;
}

body{
  background-color: #303030 !important;
}

.bg-dark-gray{
  background-color: #212529;
}

.text-orange{
  color: chocolate !important;
}

.body-min-height{
  min-height: calc(100vh - 10.5rem);
}

.list-style-none{

}