:root{
  box-sizing: border-box !important;
  --main-gray--: #151b1f;
  --secondary-gray--: #374148;
  --main-green--: #66b539;
  --main-offwhite--: #e8f7dd;
}

*{
  color: var(--main-offwhite--) !important;
  font-family: sans-serif !important;
  transition: all ease-in-out .3s !important;
  /* box-sizing: border-box !important; */
  /* box-sizing: content-box !important; */
}

.text-gray{
  color: ;
}

body{
  background-color: rgb(244, 244, 244) !important;
}

.text-14px{
 font-size: 14px;
}

.text-12px{
  font-size: 12px;
 }

.bg-dark-gray{
  background-color: #212529;
}

.bg-light-gray{
  background-color: #2f2f2f !important;
}

.text-orange{
  color: chocolate !important;
}

.body-min-height{
  min-height: calc(100vh - 24.4rem);
}
/* 
.nav-item a{
  color: rgb(164, 164, 164) !important;
} */

.border-end-orange{
  border-right: 1px solid chocolate !important;
}


.nav-item:hover a{
  color: chocolate !important;
  transition: all ease-in-out .3s !important;
}



.btn-orange{
  border: 1px solid chocolate !important;
  background-color: rgb(205, 205, 205);
  color: chocolate !important;
}

.btn-orange i{
  color: chocolate !important;
}

.btn-orange:hover {
  background-color: chocolate !important;
  color: white !important;
}

.btn-orange:hover i{
  color: white !important;
}

.border-bot-hover{
  border-bottom: 2px solid transparent !important;
}

.border-bot-hover:hover {
  box-sizing: border-box !important;
  border-bottom: 2px solid chocolate !important;
}